---
- hosts: all
  tasks:
    - name: installing python3 packages
      package: name={{ item }} state=present
      with_items:
        - python3
        - python3-venv
        - python3-nose
        - python3-pip
      become: yes

    - shell:
        cmd: |
          set -e
          set -x
          ./s2aio.sh install
        executable: /bin/bash
        chdir: 'src/{{ zuul.project.canonical_name }}'
      environment:
        USE_PYTHON3: "True"
