---
- hosts: all
  tasks:
    - shell:
        cmd: |
          set -e
          set -x
          ./s2aio.sh install
        executable: /bin/bash
        chdir: 'src/{{ zuul.project.canonical_name }}'
      environment:
        STORLETS_GATEWAY_MODULE: '{{ storlets_gateway_module }}'
        STORLETS_JDK_VERSION: '{{ storlets_jdk_version }}'

    - shell:
        cmd: |
          ant build_storlets
        executable: /bin/bash
        chdir: 'src/{{ zuul.project.canonical_name }}'

  roles:
    - ensure-tox
