---
- hosts: all
  tasks:
    - shell:
        cmd: |
          set -e
          set -x
          ./s2aio.sh install
        executable: /bin/bash
        chdir: 'src/{{ zuul.project.canonical_name }}'
