*.py[cod]

# C extensions
*.o
*.so

# Packages
*.egg
*.egg-info
dist
build
.eggs
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Ansible
*.retry

# Installer logs
pip-log.txt

# auto created for deploy
install/storlets/prepare_host
install/storlets/deploy/
install/storlets/prepare_vars.yml
install/swift/vars.yml
install/swift/hosts
cluster_config.json
install/swift/hosts
Engine/SMScripts/bin/

# auto created on build
src/java/dependencies/
src/java/SBus/org_openstack_storlet_sbus_SBusJNI.h

# Storlets build
*.class
*.jar
StorletSamples/java/*/bin

# scripts build
scripts/restart_docker_container

# functional tests
tests/functional/.ipynb_checkpoints/

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.testrepository
.venv

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
doc/build

# pbr generates these
ChangeLog

# Editors
*~
.*.swp
.*sw?
