# Format is:
# <preferred e-mail> <other e-mail 1>
# <preferred e-mail> <other e-mail 2>
Kota Tsuyuzaki <bloodeagle40234@gmail.com> <kota.tsuyuzaki.pc@hco.ntt.co.jp>
Kota Tsuyuzaki <bloodeagle40234@gmail.com> <tsuyuzaki.kota@lab.ntt.co.jp>
Kota Tsuyuzaki <bloodeagle40234@gmail.com> <k.tsuyuzaki@ntt.com>
Takashi Kajinami <kajinamit@oss.nttdata.com> <tkajinam@redhat.com>
Takashi Kajinami <kajinamit@oss.nttdata.com> <kajinamit@nttdata.co.jp>
