#---------------------------------------------------------------------------
# Copyright IBM Corp. 2015, 2015 All Rights Reserved
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# Limitations under the License.
#---------------------------------------------------------------------------

- name: Test for missing packages
  shell: dpkg --get-selections | grep aufs-tools | wc -l
  register: aufs

- shell: dpkg --get-selections | grep linux-image-extra | wc -l
  register: linux_image_extra

- shell: dpkg --get-selections | grep docker-engine | awk {'print $2'} | grep -w install | wc -l
  register: docker_engine

- command: uname -r
  register: uname
- apt: name=linux-image-extra-{{ uname.stdout_lines[0] }} update-cache=yes force=yes
  when: "'0' in linux_image_extra.stdout_lines[0]"

- apt: name=aufs-tools=1:3.2+20130722-1.1 update-cache=yes force=yes
  when: "'0' in aufs.stdout_lines[0]"

- name: Set Docker Ubuntu Repo Key
  apt_key: keyserver=hkp://p80.pool.sks-keyservers.net:80 id=58118E89F3A912897C070ADBF76221572C52609D state=present
  ignore_errors: True
  when: "'0' in docker_engine.stdout_lines[0]"

- name: Install Apt Transport HTTPS
  apt: name=apt-transport-https state=present update-cache=yes force=yes
  when: "'0' in docker_engine.stdout_lines[0]"

- name: Add Docker Apt repository
  apt_repository: repo='deb https://apt.dockerproject.org/repo ubuntu-trusty main' state=present
  when: "'0' in docker_engine.stdout_lines[0]"

- name: Install Docker Client
  apt: name=docker-engine state=present update-cache=yes force=yes
  when: "'0' in docker_engine.stdout_lines[0]"

# There seem to be a bug in the installation where config files are not installed.
# Might be a bug in the un-install where docket thinks it is upgrading.
# the below will overcome this as follows:
# If config files are installed we only change the default dir for docker data
# Otherwise, install the conf files from templates.
- stat: path=/etc/default/docker
  register: st1
- shell: grep {{ lxc_device }} /etc/default/docker | wc -l
  register: edited
- name: Configure the Docker client to use the LXC block device.
  lineinfile:
    dest: /etc/default/docker
    regexp: "^DOCKER_OPTS.*"
    line: DOCKER_OPTS="-g {{ lxc_device }}/docker --insecure-registry {{ groups['docker'][0]}}:{{ docker_registry_port }}"
    backup: yes
    state: present
  when: st1.stat.exists and '0' in edited.stdout

# Hack to overcome installation problem where no conf files are installed
- stat: path=/etc/default/docker
  register: st2
- name: Install docker defaults from template
  template: src=etc_default_docker dest=/etc/default/docker owner=root mode=0644
  when: not st2.stat.exists

# Hack to overcome installation problem where no conf files are installed
- stat: path=/etc/init/docker.conf
  register: st3
- name: Install service config file from template
  template: src=etc_init_docker.conf dest=/etc/init/docker.conf owner=root mode=0755
  when: not st3.stat.exists

# Hack to overcome installation problem where no conf files are installed
- stat: path=/etc/init.d/docker
  register: st4
- name: Install initd config from template
  template: src=etc_init.d_docker dest=/etc/init.d/docker owner=root mode=0755
  when: not st4.stat.exists

# Patch the docker config files to use the insecure registry
- name: ADD --insecure {{ groups['docker'][0] }}:{{ docker_registry_port }} to docker daemon defaults
  shell: grep DOCKER_OPTS /etc/default/docker | wc -l
  register: opt_lines_count

- lineinfile:
    dest: /etc/default/docker
    state: present
    line: DOCKER_OPTS="$DOCKER_OPTS --insecure-registry {{ groups['docker'][0] }}:{{ docker_registry_port }}"
    insertafter: "^DOCKER_OPTS="
  when: "'2' in opt_lines_count.stdout"

- name: Restart Docker Daemon
  service:
    name: docker
    state: restarted
    sleep: 1
